<div class = show_splits>
  <hr>
  <table>
    <tr>
      <th class=calc_run_left_header ><%= link_to 'GAOC Split Analysis', split_course_index_path %></b></th>
      <th class=calc_run_right_header >
        <%= link_to @runner.name, runners_show_path(:id => @runner.id, :calc_id => @last_calc_id)  %>
      </th>
   </tr>
  </table>
  <hr>
  <% @split_courses.each do |sc| %>
    <% meet = Meet.find(sc.meet_id) %>
    <h3> <%= link_to meet.name, split_course_show_path(id: sc.id) %> <i><%= sc.course %></i> <%= meet.date %></h3>
    <table class = split_details_all border=1>
      <tr>
         <th rowspan=2>
          Speed
        </th>
        <th rowspan=2>
          Time Lost
        </th>
        <th colspan = <%= "#{sc.controls + 1}" %>>
          Controls
        </th>
      </tr>
      <tr>
        <% sc.controls.times do |i|%>
          <th><%= "#{i+1}" %></th>
        <% end %>
        <th>Final</th>
      </tr>
      <% split_runner = SplitRunner.where(split_course_id: sc.id, runner_id: @runner.id).first %>
      <tr>
        <td rowspan=2 class=time><%= (split_runner.speed * 100).round(2) %></td>
        <td rowspan=2 class=time><%= -split_runner.lost_time.round(2) %></td>

        <% sc.controls.times do |i| %>
          <% s = Split.where(split_runner_id: split_runner.id, control: (i+1)).first %>
          <td
            <% case s.current_place %>
              <%   when 1 %>
                class = "time first"
              <%   when 2 %>
                class = "time second"
              <%   when 3 %>
                class = "time third"
              <%   else   %>
                class = "time"
            <% end %>
          >
            <%= s.current_time.round(2) %>(<%= s.current_place %>)
          </td>
        <% end %>
        <td
          <% case split_runner.place %>
            <%   when 1 %>
              class = "time first"
            <%   when 2 %>
              class = "time second"
            <%   when 3 %>
              class = "time third"
            <%   else   %>
              class = "time"
          <% end %>
        
        >
          <% s = Split.where(split_runner_id: split_runner.id, control: FINAL_SPLIT).first %>
          <%= s.current_time.round(2) %>(<%= split_runner.place.to_i %>)
        </td>
      </tr>
      <tr>
        <% sc.controls.times do |i| %>
          <% s = Split.where(split_runner_id: split_runner.id, control: (i+1)).first %>
         <% if s.lost_time %>
            <td class = "split lost_time">
              <span title="lost time: <%= -s.time_diff.round(2)%>" ><%= s.time.round(2) %>(<%= s.split_place %>)</span>
            </td>
          <% else %>
            <td
              <% case s.split_place %>
              <%   when 1 %>
                class = "split time first"
              <%   when 2 %>
                class = "split time second"
              <%   when 3 %>
                class = "split time third"
              <%   else   %>
                class = "split time"
              <% end %>
            >
              <%= s.time.round(2) %>(<%= s.split_place %>)
            </td>
          <% end %>
          </td>
        <% end %>
        <% s = Split.where(split_runner_id: split_runner.id, control: FINAL_SPLIT).first %>
        <% if s.lost_time %>
          <td class = "lost_time">
            <span title="lost time: <%= -s.time_diff.round(2)%>" ><%= s.time.round(2) %>(<%= s.split_place %>)</span>
          </td>
        <% else %>
          <td
            <% case s.split_place %>
            <%   when 1 %>
              class = "split time first"
            <%   when 2 %>
              class = "split time second"
            <%   when 3 %>
              class = "split time third"
            <%   else   %>
              class = "split time"
            <% end %>
          >
            <%= s.time.round(2) %>(<%= s.split_place %>)
          </td>
        <% end %>
      </tr>

      
      
    </table>
  
    
  <% end %>

  <p>
    <%= link_to 'Back', :back %><br>
    <%= link_to 'Home', calc_runs_path %>
  </p>

</div>
