<div class=calc_runs >
  <hr>
  <table>
    <tr>
      <th class=calc >Rankings Run Date</th>
      <th class=news >News</th>
      <th class=links>Links</th>
   </tr>
  </table>
  <hr>
  <table>
   <tr>
     <td class=calc>
      <table class=calc_run >
        <% @calc_runs.each do |calc_run| %>
          <tr>
            <td>
              <%= link_to calc_run.date, calc_run %>
            </td>
          <tr>
        <% end %>
      </table
     </td>
     <td class=news>
      <table>
        <% @news.each do |news_item| %>
          <tr>
           <td>
              <b><i><%= news_item.date %></i></b> - <%= sanitize(news_item.text) %>
            </td>
          <tr>
        <% end %>
      </table
     </td>
     <td class=links>
      <table >
        <tr><td><b><%= link_to 'Find Runner', runners_path %></b><br><br></td></tr>
        <tr>
           <td><b><%= link_to 'Georgia Orienteeering Club', 'http://www.gaorienteering.org/' %>
        </tr>
        <tr>
          <td><b><%= link_to 'GAOC Splits', split_course_index_path %></b><br><br></td>
        </tr>
       
        <% season = get_season_by_date(Time.now) %>
        <% badge_types = ["Expert", "Pathfinder", "Navigator" ] %>
        <% if Badge.where(class_type: badge_types, season: season).count > 0 %>
          <tr><td><b>"<%= season %>" Season Performance Badges 
          <table >
          <% badge_types.each do |type| %>
            <% badges = Badge.where(class_type: type, season: season) %>
            <% if badges.count > 0 %>
              <tr><td class=badges ><%= type%><td><tr>
              <% badges.each do |b| %>
                <% runner = Runner.find(b.runner_id) %>
                <tr><td><%= link_to runner.name, runners_show_path(:id => runner.id) %></td></tr>
              <% end %>
            <% end %>
          <% end %>
          </table>
          </b><td><tr>
        <% end %>

        <tr><td><br>  ---- External Links ----  </td></tr>
        <% @links.each do |link| %>
          <tr><td><%= link_to link.label, link.url %></td></tr>
        <% end %>
      </table
     </td>
   </tr>
  </table>
</div>
