<div class=calc_runs >
  <hr>
  <table>
    <tr>
      <th class=calc_run_left_header ><%= @course %> Rankings </th>
      <th class=calc_run_right_header >Calculation Date: <%= @calc_run.date %></th>
   </tr>
  </table>
  <hr>
  
  <table>
    <tr>
      <td class=index>
        <table>
          <% @courses.each do |course| %>
            <tr>
              <td
                <%if course == @course %>
                  'class=selected'
                <% end %> >
                <b><%= link_to course, :id => @calc_run.id, :course => course %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>
              <br><br>
              <b>High School Power Rankings</b>
              <br><br>
			        <p><b> <%= link_to 'All Results', calc_runs_show_all_path(id: @calc_run.id) %> </b>
 			        <p><%= link_to 'Back', :back %>
              <p><%= link_to 'Home', calc_runs_path %>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <h2> Detailed <%= @course %> Course Results </h2>
        <table class=course_details>
          <tr><th class=rank>Rank</th><th class=runner>Runner</th><th class=club>Club</th><th class=gender></th><th class=score >score</th><th class=races>races</th></tr>
          <% current_gender = nil; place = 0 %>
          <% @runners.each do |r| %>
            <% if current_gender == nil %>
              <% current_gender = r.sex %>
            <% elsif current_gender != r.sex %>
              <% current_gender = r.sex %>
              <% place = 0 %>
              </table>
              <table class=course_details
                <tr><th class=rank>Rank</th><th class=runner>Runner</th><th class=club>Club</th><th class=gender></th><th class=rank >score</th><th class=rank>races</th></tr>
            <% end %>
            <tr>
              <td class=rank><%= place += 1 %> </td>
              <td>
                <%= link_to "#{r.firstname} #{r.surname}", runners_show_path(:id => r.runner_id, :calc_id => @calc_run.id)  %>
              </td>
              <td><%= r.club_description %> </td>
              <td class=gender><%= r.sex %> </td>
              <td class=score><%= '%.3f' % r.score %> </td>
              <td class=races><%= r.races %> </td>
            </tr>
          <% end %>
        </table>
      </td>
      <td class=index>
        <table>
          <tr><th>Filter Results by Club</th></tr>
          <tr>
            <td class= filter>
              <select id='club_filter'>
                <% @clubs.each do |c| %>
                  <option value = "<%= c %>"
                    <% if c == @filter %>
                      selected
                    <% end %>
                  ><%= c %> </option>
                <% end %>
              </select>
        </table
      </td>
    </tr>
 </table>
</div>
<script type="text/javascript">
$('#club_filter').change(function(){
  id = <%= @calc_run.id %>;
  course = "<%= @course %>";
  filter = "<%= @filter %>"
  if (filter == ' ') {
    window.location.href = "/calc_runs/" + id + "?course=" + course;
  } else {
    window.location.href = "/calc_runs/" + id + "?course=" + course + "&filter=" + $(this).val();
  }
});
</script>

