<h1>Administration Page</h1>
<table class=admin>
<tr>
  <td>
    <%= link_to "Add a Meet", new_meet_path %>
  </td>
</tr>
<tr>
  <td>
    <%= link_to "Run Ranking Calculation", calc_runs_path, :method => :post %>
  </td>
</tr>
<tr>
  <td>
    <%= link_to "Update Badges", badges_path, :method => :post %>
  </td>
</tr>
</table>
<table class=admin>
<tr><th>Calculation Runs</th><th>News</th><tr>
<tr>
  <td>
    <table>
      <tr><th>ID</th><th>Run Date</th><th>Status</th><th>Published?</th><th>Calc Time</th></tr>
      <% @calc_runs.each do |calc_run| %>
        <tr>
          <td><%= calc_run.id %></td>
          <td><%= calc_run.date %></td>
          <td><%= calc_run.status %></td>
          <td><%= calc_run.publish || 'no' %></td>
          <td><%= calc_run.calc_time  %></td>
      <% end %>
    </table>
  </td>
  <td>
    <table>
      <tr><th>ID</th><th>Creation Date</th><th>Published?</th><th>Publish Date</th></tr>
    </table>
  </td>
</table>
