<div class=runner >
  <hr>
  <table>
    <tr>
      <td class=runner_left_header ><b><%= "#{@runner.firstname} #{@runner.surname}" %></b> </td>
      <td class=runner_right_header ><b>Calculation Date: <%= link_to @calc_run.date, @calc_run %></b></td>
   </tr>
  </table>
  <hr>
  <table>
    <tr>
      <td class=runner_info>
        <table>
          <tr>
            <td><b>Runner Id</b></td>
            <td><%= @runner.id %></td>
          </tr>
          <tr>
            <td><b>Club</b></td>
            <td><%= @runner.club_description %></td>
          </tr>
          <tr>
            <td><b>Gender</b></td>
            <td><%= @runner.sex %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>
              Course
            </th>
            <th>
              Ranking Score
            </th>
            <th>
              Races
            </th>
          </tr>
          <% data = Hash.new  %>
          <% colors = [] %>
          <% @rankings.each do |r| %>
            <tr>
              <td>
                <%= link_to r.course, controller: 'calc_runs', action: 'show', id: @calc_run.id, course: r.course %>
              </td>
              <td class=center>
                <%= r.score.round(3) %>
              </td>
              <td class=center>
                <%= r.races %>
              </td>
              <% data[r.course] = r.races %>
              <% color = r.course == "Sprint" ? "purple" : r.course.downcase %>
              <% colors << color %>
            </tr>
          
          <% end %>
          <tr><td colspan=3 >
            <%= pie_chart data, :library => {:colors=> colors }, width: "330px", height: "185px" %>
          </td></tr>
        </table>
        <br><br>
        <p><%= link_to 'Back', :back %>
        <p><%= link_to 'Home', calc_runs_path %>
      </td>
      <td class=runner_results>
        <table >
          <tr>
            <th>Date</th><th>Meet</th><th>Course</th><th>Length</th><th>Climb</th><th>Time<br>(Minutes)</th><th>Place</th><th>Score</th>
          </tr>
          <% data = Hash.new %>
          <% @calc_results.each do |r| %>
            <tr>
              <td class=center ><%= r.meet_date %></td>
              <td>
                <%= link_to r.meet_name, calc_runs_show_all_path(id: @calc_run.id, meet_id: r.meet_id) %>
              </td>
              <td class=center><%= r.course %></td>
              <td class=center><%= r.length %></td>
              <td class=center><%= r.climb %></td>
              <td class=center><%= r.time.round(2) %></td>
              <td class=center><%= r.place %></td>
              <td class=center><%= r.score.round(3) %></td>
            </tr>
            <% data["#{r.meet_name} (#{r.meet_date[6..-1]})"] = r.place %>
          <% end %>
          <tr><td colspan = 8 >
             <%= line_chart data,  title: "Finish Place" %>
          </td><tr>
        </table>
      </td>
    </tr>
  </table>
</div>

