<hr>
<table class=hs_power>
  <tr>
    <th class=calc_run_left_header >High School Power Ranking </th>
    <th class=calc_run_right_header align=right>Calculation Date: <%= link_to @calc_run.date, @calc_run %></th>
 </tr>
</table>
<hr>

<table class=power>
  <tr>
    <td class=power_rankings>
      <% @ranking_classes.each do |ranking_class| %>
        <h2><%= ranking_class %></h2>
        <% i = 1 %>
        <table>
        <% @rankings_hash[ranking_class].each do |ranking| %>
          <tr>
            <td class=place> <%= i %> </td>
            <td>
              <b><%= ranking.school %>(<%= ranking.total_score.round(3) %>)</b><br>
              <% first_time = true %>
              <% @runners_hash["#{ranking.school}:#{ranking_class}"].each do |r| %>
                <%if first_time == true %>
                  <% first_time = false %>
                <% else %>
                  ,&nbsp
                <% end %>
                <%= link_to "#{r.firstname} #{r.surname}", runners_show_path(id: r.id, calc_id: @calc_run_id) %>
                (<%= r.normalized_score.round(3) %>)
              <% end %>
            <td>
          </tr>
          <% i += 1 %>
        <% end %>
        </table>
    
      <% end %>
    </td>
    <td class=description>
      <h2>Methodology</h2>
      <br>
      A school’s “Power” ranking is the combined score of the school’s top 5 runners in each category: Varsity, Junior Varsity, Intermediate<br>
      <br>
      High School ranking scores are normalized by course and gender.  The average of the top 10% (minimum of 2) of the runners is set to 100.  The runners scores are then normalized to the calculated 100 score.
      <br><br>
      <b><i>Varsity</id></b><br>
      A school's top 5 ranking scores on Red, Green or Brown. If a runner has ranking scores on multiple courses, only their highest score is included.
      <br><br><b><i>Junior Varsity</id></b><br>
      A school's top 5 ranking scores on Orange.  A runner cannot be included in Junior Varsity if they are included in the Varsity rankings.
      <br><br><b><i>Intermediate</id></b><br>A school’s top 5 ranking scores on Yellow. A runner cannot be included in Intermediate if they are included in the Varsity or Junior Varsity rankings.
      <br>
      <p><%= link_to 'Back', :back %>
      <p><%= link_to 'Home', calc_runs_path %>

    </td>
  </tr>
</table>
