<div class=show_meet>
<hr>
<table>
  <tr>
    <td class=meet_left_header><b><%= @meet.name %></b></td>
    <td class=meet_right_header><b><%= @meet.date %></b></td>
  </tr>
</table>
<hr>
<% @results.each do |course, results| %>
  <h2><%= course %></h2>
  <table align=center>
    <tr>
      <th>Runner</th><th>Place</th><th>Classifier</th><th>Time</th><th>Gender</th>
    </tr>
    <% @results[course].each do |r| %>
      <tr>
        <td><%= Runner.find(r.runner_id).name %></td>
        <td><%= r.place %></td>
        <td><%= r.classifier %></td>
        <td><%= r.time.round(3) %></td>
        <td><%= r.gender %></td>
      </tr>
    <% end %>
  </table>
<% end %>
</div>
