<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG[:title] %></title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <table class=app_header>
    <tr >
      <td> <%= image_tag "GAOClogo.jpg", :style => "display: block;" %></td>
    </tr>
    <tr bgcolor=#A6BA65>
      <td height=30><b>&nbsp;GAOC Local Meet Ranking System</b></td>
      <td align=right height=30>version: <%= "#{APP_VERSION}" %>, build: <%= link_to "#{BUILD}","https://github.com/OldRugger/orank/tree/#{BUILD}" %>&nbsp</td>
    </tr>
  </table>

<%= yield %>

</body>
</html>
